.root {
  width: 218px;
  max-height: calc(100vh - var(--infp-header-height) - rem(48) - rem(128));
}

.link {
  display: block;
  width: 218px;
  padding: var(--mantine-spacing-xs);
  font-size: var(--mantine-font-size-sm);
  line-height: 1.2;
  text-decoration: none;
  overflow-wrap: break-word;
  border-left: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  border-top-right-radius: var(--mantine-radius-sm);
  border-bottom-right-radius: var(--mantine-radius-sm);
  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }
}

.linkActive {
  font-weight: 500;
  color: light-dark(
    var(--mantine-primary-color-6),
    var(--mantine-primary-color-4)
  );
  border-left-color: light-dark(
    var(--mantine-primary-color-6),
    var(--mantine-primary-color-4)
  );

  &,
  &:hover {
    background-color: var(--mantine-primary-color-light) !important;
  }
}
