.infp-main {
  @apply text-[#222222] dark:text-[#dadada];

  .contains-task-list {
    @apply mt-6 first:mt-0;
    .task-list-item {
      padding: 0;

      input[type='checkbox'] {
        margin-top: -2px;
        margin-right: 6px;
        vertical-align: middle;
        margin-inline-start: 2px;
      }
    }
  }

  img {
    @apply mx-auto py-4;
  }
}
