.root {
  display: flex;
  align-items: center;
  margin-right: auto;
  color: var(--mantine-primary-color-6);

  @mixin dark {
    color: var(--mantine-primary-color-8);
  }
  @mixin smaller-than $mantine-breakpoint-sm {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}

.link {
  @mixin hover {
    opacity: 0.75;
  }
}

.logoTitle {
  font-weight: 800;
  font-size: var(--mantine-font-size-lg);
}

.logoDesc {
  margin-left: 0.5rem;
  font-weight: 400;
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-gray-6);
  white-space: nowrap;
  @minxn larger-than $mantine-breakpoint-sm {
    display: inline;
  }
}
