.text {
  font-size: var(--mantine-font-size-sm);
  white-space: nowrap;
}

.inactive {
  color: var(--mantine-color-gray-7);
  @mixin hover {
    color: var(--mantine-color-gray-9);
  }
  @mixin dark {
    color: var(--mantine-color-gray-4);

    @mixin hover {
      color: var(--mantine-color-gray-2);
    }
  }
}

.active {
  font-weight: 500;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.dropText {
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-gray-7);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;

  @mixin hover {
    color: var(--mantine-color-gray-9);
  }

  @mixin dark {
    color: var(--mantine-color-gray-4);

    @mixin hover {
      color: var(--mantine-color-gray-2);
    }
  }
}
