.text {
  font-size: var(--mantine-font-size-sm);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
}

.inactive {
  color: var(--mantine-color-gray-7);
  @mixin hover {
    color: var(--mantine-color-gray-9);
  }
  @mixin dark {
    color: var(--mantine-color-gray-4);

    @mixin hover {
      color: var(--mantine-color-gray-2);
    }
  }
}

.active {
  font-weight: 500;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  margin-left: rem(4px);
}
