.root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(34px);
  height: rem(34px);
  border: rem(1px) solid;
  border-radius: var(--mantine-radius-md);

  @mixin light {
    color: var(--mantine-color-gray-7);
    background-color: var(--mantine-color-white);
    border-color: var(--mantine-color-gray-3);

    @mixin hover {
      background-color: var(--mantine-color-gray-0);
    }
  }

  @mixin dark {
    color: var(--mantine-color-white);
    background-color: var(--mantine-color-dark-6);
    border-color: var(--mantine-color-dark-4);

    @mixin hover {
      background-color: var(--mantine-color-dark-5);
    }
  }
}
