.bilibili {
  --bilibili-color: #fb7299;
  --bilibili-color-hover: #f0648c;

  [data-mantine-color-scheme] & {
    color: var(--mantine-color-white);
    background-color: var(--bilibili-color);
    border-color: var(--bilibili-color);

    @mixin hover {
      background-color: var(--bilibili-color-hover);
      border-color: var(--bilibili-color-hover);
    }
  }
}
