.discord {
  --discord-color: #5865f2;
  --discord-color-hover: #4f5bd5;

  [data-mantine-color-scheme] & {
    color: var(--mantine-color-white);
    background-color: var(--discord-color);
    border-color: var(--discord-color);

    @mixin hover {
      background-color: var(--discord-color-hover);
      border-color: var(--discord-color-hover);
    }
  }
}
