.root {
  height: rem(34px);
  padding-right: rem(4px);
  padding-left: var(--mantine-spacing-sm);
  color: var(--mantine-color-placeholder);
  white-space: nowrap;
  border: rem(1px) solid;
  border-radius: var(--mantine-radius-md);

  @mixin light {
    background-color: var(--mantine-color-white);
    border-color: var(--mantine-color-gray-3);
  }

  @mixin dark {
    background-color: var(--mantine-color-dark-6);
    border-color: var(--mantine-color-dark-4);
  }

  @mixin rtl {
    padding-right: var(--mantine-spacing-sm);
    padding-left: rem(4px);
  }
}

.shortcut {
  padding: rem(4px) rem(7px);
  font-weight: bold;
  font-size: rem(11px);
  line-height: 1;
  white-space: nowrap;
  border: rem(1px) solid;
  border-radius: var(--mantine-radius-sm);

  @mixin light {
    color: var(--mantine-color-gray-7);
    background-color: var(--mantine-color-gray-0);
    border-color: var(--mantine-color-gray-2);
  }

  @mixin dark {
    color: var(--mantine-color-dark-0);
    background-color: var(--mantine-color-dark-7);
    border-color: var(--mantine-color-dark-7);
  }
}
