.twitter {
  --twitter-color: #262424;
  --twitter-color-hover: #000000;

  [data-mantine-color-scheme] & {
    background-color: var(--twitter-color);
    border-color: var(--twitter-color);
    color: var(--mantine-color-white);

    @mixin hover {
      background-color: var(--twitter-color-hover);
      border-color: var(--twitter-color-hover);
    }
  }
}
