.strong {
  color: var(--mantine-primary-color-6);
  @mixin dark {
    color: var(--mantine-primary-color-8);
  }
}

.ul {
  margin-top: rem(24px);
  padding-left: rem(24px);
  list-style-type: disc;

  &:first-child {
    margin-top: rem(8px);
  }
}

.ol {
  margin-top: rem(24px);
  padding-left: rem(24px);
  list-style-type: decimal;

  &:first-child {
    margin-top: rem(8px);
  }
}

.li {
  margin-top: rem(8px);
  margin-bottom: rem(8px);
}

.p {
  margin-top: rem(8px);
  margin-bottom: rem(8px);
  line-height: rem(28px);
  &:first-child {
    margin-top: 0;
  }
}

.table {
  margin-top: rem(24px);
}

.td {
  /* white-space: nowrap; */
  min-width: rem(100px);
}

.th {
  white-space: nowrap;
}

.code {
  --code-bg: var(--mantine-primary-color-light);
  @mixin dark {
    --code-bg: var(--mantine-primary-color-light);
  }
}

.blockquote {
  & > p:last-child {
    margin-bottom: 0;
  }
}
