.root {
  --infp-z-index-banner: 20;
  --infp-z-index-header: 20;

  --infp-banner-height: 2.5rem;
  --infp-banner-text: var(--mantine-color-white);
  --infp-banner-body: var(--mantine-primary-color-6);

  --infp-header-height: 3.75rem; /* must sync with root margin (src/contents/active-anchor-provider.tsx) */
  --infp-header-border-color: var(--mantine-color-gray-2);
  --infp-header-body: rgba(248, 248, 248, 0.6);

  --infp-footer-height: rem(100px);
  --infp-footer-border-color: var(--mantine-color-gray-2);
  --infp-footer-text: var(--mantine-color-gray-8);
  --infp-footer-body: var(--mantine-color-gray-1);
  @mixin dark {
    --infp-header-border-color: var(--mantine-color-dark-8);
    --infp-header-body: var(--mantine-color-dark-7);
    --infp-footer-border-color: var(--mantine-color-dark-5);
    --infp-footer-text: var(--mantine-color-gray-4);
    --infp-footer-body: var(--mantine-color-dark-6);
  }
}

.banner {
  position: relative;
  top: 0;
  z-index: var(--infp-z-index-banner);
  display: flex;
  align-items: center;
  height: var(--infp-banner-height);
  padding-right: 0.5rem;
  padding-left: 2.5rem;
  text-align: center;
  color: var(--infp-banner-text);
  background-color: var(--infp-banner-body);

  @media print {
    & {
      display: none;
    }
  }

  &[data-hidden='true'] {
    display: none;
  }
}

.bannerText {
  width: 100%;
  padding: 0 1rem;
  overflow: hidden;
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bannerIcon {
  color: var(--infp-banner-text);
}

.header {
  position: sticky;
  top: 0;
  z-index: var(--infp-z-index-header);
  height: var(--infp-header-height);
  padding: 0 1rem;
  overflow: hidden;
  background-color: var(--infp-header-body);
  border-bottom: 0.0625rem solid var(--infp-header-border-color);
  backdrop-filter: blur(0.75rem);

  @media print {
    & {
      display: none;
    }
  }
}

.main {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  min-height: calc(100vh - var(--infp-header-height));

  :global(.contains-task-list) {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    input[type='checkbox'] {
      margin-right: rem(4px);
    }
    :global(.task-list-item) {
      margin-top: rem(8px);
      margin-bottom: rem(8px);
    }
  }
}

.aside {
  position: sticky;
  top: 60px;
  flex-shrink: 0;
  align-self: flex-start;
  width: 250px;
  height: 600px;

  @mixin smaller-than $mantine-breakpoint-md {
    display: none;
  }
}

.navbar {
  position: sticky;
  top: rem(60px);
  width: rem(250px);
  max-height: calc(100vh - rem(60px));
  padding: rem(16px);
  @mixin smaller-than $mantine-breakpoint-lg {
    display: none;
  }
}

.footer {
  display: flex;
  align-items: center;
  min-height: 100px;
  padding: 0 rem(48px);
  color: var(--infp-footer-text);
  background-color: var(--infp-footer-body);
  border-top: rem(1px) solid var(--infp-footer-border-color);
  @mixin smaller-than $mantine-breakpoint-sm {
    justify-content: center;
    padding: 0 rem(24px);
  }
}

.mobile {
  @mixin larger-than $mantine-breakpoint-md {
    display: none;
  }
}

.desktop {
  @mixin smaller-than $mantine-breakpoint-md {
    display: none;
  }
}
